<% content_for :main_section do %>

  <div class="row"><h1><%= @person.first_name %> <%= @person.last_name %></h1></div>
  <div class="row">
      <%= @person.about_me %>
    </div>
  <div class="row">
    <%= link_to('Find on Facebook', @person.facebook_url) if @person.facebook_url.present? %>
  </div>

<% end %>