<div id="cover-image-preview">
  <ul class="ts_container">
    <% lds_org_pics.each do |pic| %>
      <li>
        <div class="micro-preview">
          <%= image_tag("http://media.ldscdn.org/images/media-library/gospel-art/#{pic[:src]}-thumbnail.jpg", alt: pic[:alt], style: "max-height:10px; max-width:10px") %>
        </div>
      </li>
    <% end %>
    <li class="ts_thumbnails">
      <div class="ts_preview_wrapper">
        <ul class="ts_preview"><!-- animate left to slide to the right thumb -->
          <% lds_org_pics.each do |pic| %>
            <li>
              <div class="mini-preview">
                <%= image_tag("http://media.ldscdn.org/images/media-library/gospel-art/#{pic[:src]}-thumbnail.jpg", alt: pic[:alt]) %>
              </div>
            </li>
          <% end %>
        </ul>
        <!-- List with thumbnails/preview items -->
      </div>
      <span></span>
    </li>
  </ul>
</div>
