// Place all the styles related to the Programs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.program-page-layout {
  .one-line, .two-line {
    margin-bottom: 1em;
  }
  .two-line {
    margin-top:1em;
  }
  .item-with-elipses {
    width: 100%;
    height: 1.5em;
    margin-bottom: 1em;
    text-align: left;
    overflow: hidden;
  }
  .item-with-elipses:after {
    content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
  }
  .item-without-person {
    width: 100%;
    height: 1.5em;
    margin-bottom: 1em;
    text-align: center;
  }
  .person, .hymn, .choose-item {
    float: right;
    position: relative;
    background-color: white;
    margin: -2.5em 0 0;
    padding-left: 6px;
  }
  .hymn {
    text-align: right;
    font-style: italic;
    margin-bottom: 1em;
  }
  .modified-item {
    display: none;
  }
  .member-selection-visible {
    display: none;
  }
  li {
    list-style-type: none;
  }
  li:hover {
    .icon-trash {
      color: lightgray
    };
    cursor: pointer;
  }
  .icon-trash {
   margin-right: 3px;
   color: white;
  }
  .icon-trash:hover {
    cursor: hand;
  }
}

.selection-list {
  .choose-item, .icon-trash {
    display: none;
  }
  li:hover {
    cursor: hand;
  }
  li {
    list-style-type: none;
  }
}

